<div class="container mt-58 align-center">
  <h1>Statistics</h1>

  <div class="md-form active-cyan active-cyan-2 mb-3">
    <input type="text" class="form-control transparent" #search
           (input)="searchByUsername(search.value)">
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Rank<span [class]="idsCaretClass" (click)="orderById()"></span></th>
      <th scope="col">Player</th>
      <th scope="col">Team</th>
      <th scope="col">Population<span [class]="popCaretClass" (click)="orderByPopulation()"></span></th>
      <th scope="col">Towns<span [class]="townsCaretClass" (click)="orderByTowns()"></span></th>
    </tr>
    </thead>
    <tbody>

    <!--<span (mouseover)="hover=true" (mouseleave)="hover=false">-->
    <tr *ngFor="let user of users | paginate: {
    id: ALL_USERS,
    itemsPerPage: itemsPerPage,
    currentPage: page
    }">
      <td scope="row">{{user.id}}</td>
      <td><a routerLink="/user/profile/{{user.username}}">{{user.username}}</a></td>
      <td><a routerLink="/clan/profile/alpha">Alpha</a></td>
      <!--{{user.clan.name}}-->
      <td>{{user.population}}</td>
      <td>{{user.townsCount}}</td>
    </tr>

    </tbody>
  </table>


  <pagination-controls id="allUsers"
                       (pageChange)="page = $event"
                       maxSize="9"
                       directionLinks="true"
                       autoHide="true"
                       previousLabel="Previous"
                       nextLabel="Next"
                       screenReaderPaginationLabel="Pagination"
                       screenReaderPageLabel="page"
                       screenReaderCurrentLabel="You're on page">
  </pagination-controls>

</div>


