.logged-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.logged-nav > li {
  display: inline-block;
  float: none;
}

.mt-58 {
  margin-top: 58px;
}

.align-center {
  text-align: center;
}

.form-group {
  margin-top: 30px;
}

.btn-block {
  margin-top: 40px;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 100%;
  color: #dc3545;
}

@media only screen and (max-width: 230px) {
  /*.app-form {*/
  /*margin-top: 121px;*/
  /*}*/
}
