.logged-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.logged-nav > li {
  display: inline-block;
  float: none;
}

.app-form, .ng-default-template {
  margin-top: 80px;
}

.align-center {
  text-align: center;
}

.form-group {
  margin-top: 30px;
}

.btn-block {
  margin-top: 40px;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 100%;
  color: #dc3545;
}

.sign-out-btn {
  font-weight: bold;
}

@media only screen and (max-width: 230px) {
  .ng-default-template, .app-form {
    margin-top: 121px;
  }
}
